/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback'); */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

@tailwind base;

@tailwind components;

/* Additional styles */
/* @import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/flatpickr.css';
@import 'additional-styles/theme.css'; */

@tailwind utilities;

html {
  font-family: Urbanist, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
